.pl-30{
  padding-left: 30px;
}

.pr-30{
  padding-right: 30px;
}

.pt-30{
  padding-top: 30px;
}

.mb-30{
  margin-bottom: 30px;
}

.plr-30{
  padding-left: 30px;
  padding-right: 30px;
}

.mb-60{
  margin-bottom: 60px;
}

.pb-40{
  padding-bottom: 40px;
}

.mb-90{
  margin-bottom: 90px;
}

.mb-80{
  margin-bottom: 80px;
}

.pt-5{
  padding-top: 5px;
}

.pt-15{
  padding-top: 15px;
}

.pl-80{
  padding-bottom: 80px;
}
