/*
##############################
Created by Jonathan Caputo
Last update: 19/02/2021
Design by prof. Mastrandrea
##############################
*/
body{
  margin: 0px;
  overflow: hidden;
}

#wrapper{
  background-image: url(../img/Sfondo@2x.png);
  background-repeat: no-repeat;
  background-size: 104%;
  background-position: center;
  border: 1px solid #707070;
  position: relative;
}

#wrapper::before{
  content: "";
  display: block;
  height: 100vh;
  background: linear-gradient(rgba(119, 119, 119, 0.6) 0%, rgba(248, 248, 248, 0) 100%);
}

.brand{
  text-decoration: none;
  position: absolute;
  top: 22px;
  left: 34px;
}

.brand img{
  height: 130px;
}

#main{
  position: absolute;
  top: 470.5px;
  margin-left: 432px;
}

.title{
  margin: 0;
  position: relative;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 80px;
  color: #fff;
  line-height: 101px;
  padding-top: 19.5px;
  padding-bottom: 19.5px;
  text-align: center;
  margin-bottom: 53px;
}

.title::before{
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 3px;
  background: #343434;
}

.title::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: #343434;
}

.subtitle{
  font-family: "Hoefler Text", serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: #fff;
  line-height: 38px;
  padding-bottom: 60.6px;
}

.subtitle::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 25%;
  width: 50%;
  height: 3px;
  background: #FFFFFF;
  margin-bottom: 44.5px;
}

.button{
  position: absolute;
  margin-left: 334.5px;
  padding: 15px 126px 11px 124px;
  background-color: #FFFFFF;
  border: 1px solid #707070;
  border-radius: 15px;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  color: #080c71;
  line-height: 38px;
}