.cookieContainer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--modal-content-bg);
    border-top: 1px solid #333;
    padding: 0 25px;
    box-sizing: border-box;
    font-family: "Franklin", sans-serif;
}

.cookieContainer header{
    display: flex;
    border: 0;
    padding: 0;
    margin: 25px 0;
}

.cookieContainer header h3{
    flex-grow: 1;
    font-weight: 700;
    line-height: 15px;
    font-size: 15px;
    border-right: 1px solid #ccc
}

.toaster{
    position: absolute;
    top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    z-index: 2
}

.toaster div{
    margin-bottom: 16px;
    background-color: var(--text-color-base);
    color: var(--modal-content-bg);
    padding: 16px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-family: "Clear Sans", Arial, sans-serif;
}