@import url("./variables.css");

/* Reset */
*{
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 6px 16px;
    border-bottom: 1px solid var(--border-color);
}

header div button{
    background: transparent;
    border: 0;
    padding: 0 4px;
    cursor: pointer;
}

header div{
    align-items: center;
    display: flex;
}

header .title{
    font-family: "Karnak-Condensed", Arial, sans-serif;
    font-weight: 700;
    font-size: 37px;
    line-height: 100%;
    letter-spacing: 0.01em;
}

/* Game */
.game{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 500px;
    align-items: center;
    justify-content: space-around;
    min-height: calc(100vh - 50px);
}

/* Board */
.boardContainer{
    width: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.board{
    padding: 10px;
    width: 70%;
}

.board .row{
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
}

.tile{
    border: 2px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    font-family: "Clear Sans", Arial, sans-serif;
    text-transform: uppercase;
    user-select: none;
    height: 60px;
    width: 60px;
    color: var(--tile-text-color);
    user-select: none
}

.tile[data-state="tbd"]{
    background-color: var(--tile-text-color);
    border: 2px solid var(--color-theme-1);
    color: var(--text-color-base);
}

.tile[data-state="correct"]{
    border: 0;
    background-color: var(--color-correct);
}

.tile[data-state="present"]{
    border: 0;
    background-color: var(--color-presence);
}

.tile[data-state="nope"]{
    border: 0;
    background-color: var(--color-absent);
}

/* Keyboard */
.keyboard{
    display: flex;
    flex-wrap: wrap;
    margin: 0 8px;
    touch-action: manipulation;
    user-select: none;
}

.keyboard .row{
    display: flex;
    width: 100%;
    margin-bottom: 8px;
    justify-content: center;
}

.keyboard .row:nth-of-type(2){
    padding: 0 20px;
}

.keyboard button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Clear Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 9%;
    border: 0;
    padding: 19px 0;
    margin: 0 6px 0 0;
    border-radius: 4px;
    background-color: var(--key-bg);
    color: var(--key-text-color);
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
}

.keyboard button.big{
    flex-grow: 1.5;
}

.keyboard button[data-state="correct"]{
    color: var(--tile-text-color);
    background-color: var(--color-correct);
}

.keyboard button[data-state="present"]{
    color: var(--tile-text-color);
    background-color: var(--color-presence);
}

.keyboard button[data-state="nope"]{
    color: var(--tile-text-color);
    background-color: var(--color-absent);
}

@media (max-width: 360px) {
    header .title {
        font-size: 22px;
        letter-spacing: 0.1rem;
    }
}

@media (max-width: 460px) {
    .board{
        width: 95%;
    }
    .keyboard button{
        width: 10%;
    }
    .keyboard button.big{
        font-size: 12px;
    }
}