/*
############################################################
podcast.css
Created by Jonathan Caputo, Andrea Losacco, Daniele Rutigliano
Last update: 27/05/2021
############################################################
*/

#podcast .title {
  font-size: 46px;
  line-height: 60px;
}

#podcast .btn {
  font-size: 16px;
  border-radius: 5px;
  padding: 12px 46px;
  text-align: center;
}

#podcast .titlesong {
  font-size: 24px;
}

#podcast .description {
  font-size: 15px;
  line-height: 23px;
}

#podcast .tags {
  font-size: 14px;
}

/*PLAYER */
#podcast .player button.play {
  min-width: 50px;
  min-height: 50px;
  border: 0px;
  border-radius: 50px;
}

#podcast .player button.volume {
  background: transparent;
  border: 0;
}

#podcast .player .flexContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

#podcast .player .track {
  flex-grow: 1;
  position: relative;
  margin: 0 5px;
  height: 30px;
}

#podcast .player .totalDuration {
  width: 100%;
  height: 5px;
  position: absolute;
  background: #DBDBDB;
  border-radius: 2px;
}

#podcast .player .playedDuration {
  height: 5px;
  border-radius: 2px;
  width: 0%;
  z-index: 1;
}

#podcast .player .currentPosition {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  position: absolute;
  z-index: 2;
  left: 0%;
  margin-left: -15px;
}

#podcast .player .currentPosition::after {
  content: "";
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: var(--primary)
}

#podcast span.time {
  font-size: 12px;
  padding: 0 12px;
}

#podcast .icon {
  padding-right: 15px;
}

#podcast .image-center-right {
  height: 100%;
  object-fit: cover;
  object-position: 27%;
}

#podcast .image-center {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* RESPONSIVE */
@media screen and (max-width: 575px) {
  #podcast .title {
    font-size: 28px;
    line-height: 42px;
  }

  #podcast .latest-btn {
    justify-content: flex-end;
  }

  #podcast .btn {
    color: var(--primary);
    background-color: transparent;
    padding: 0;
  }

  #podcast .titlesong {
    font-size: 20px;
  }

  #podcast .description {
    font-size: 18px;
    line-height: 26px;
  }

  #podcast .player .playedDuration {
    width: 25%;
  }

  #podcast .player .currentPosition {
    left: 25%;
  }

  #podcast .image-center-right {
    height: auto;
  }

  #podcast .image-center {
    height: auto;
  }
}

@media screen and (max-width: 1440px) and (min-width: 576px) {
  #podcast .latest-btn {
    justify-content: flex-end;
  }
}
