header{
    background: var(--light);
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 15px;
}

header .title{
    display: flex;
    width: 100%;
}

header .title h1{
    font-family: var(--titleFont);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: var(--primary);
    flex-grow: 1;
    display: flex;
    align-items: center;
}

header .title h1 img{
    width: 16%
}

header .title button{
    background: var(--secondary);
    border-radius: 15px;
    border: 0;
    padding: 8px 12px;
    margin: 10px 0;
    font-family: var(--normalFont);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: var(--light)
}

header .info{
    display: flex;
    width: 100%;
    margin: 10px 0 14px 0;
    align-items: center;
}

header .info .progressBar{
    flex-grow: 1;
    display: flex;
    align-items: center; 
}

header .info .progressBar strong{
    margin: 0 65px 0 10px;
    font-family: var(--normalFont);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: var(--secondary)
}

header .info .progressBarContainer{
    width: 100%;
    height: 6px;
    background: var(--lightGray);
    border-radius: 5px;
}

header .info .progressBarContainer div{
    background: var(--success);
    height: 6px;
    border-radius: 5px;
}

header .info button{
    border: 0;
    background: rgba(0,0,0,0);
}

header .info h2{
    font-family: var(--normalFont);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: var(--light);
    padding: 10px;
    background: var(--secondary);
    border-radius: 20px;
}

header .info div{
    flex: .9;
    display: flex;
    justify-content: center;
}